<template name="account_ident_panel">
    <div class="c-account-ident-panel">

        {{#if newAccount }}
            {{> acUserLogin (parmsUserLoginNew) }}

        {{else}}
            <table class="form-table">
                {{#if haveEmailAddress }}
                    <tr>
                        <td></td>
                        <td class="ui-w100">
                            <!--
                            {{> account_emails_edit }}
                            -->
                            <table class="form-table am-subtable">
                                <thead>
                                    <tr>
                                        <th class="ui-w100">{{ i18n key="list.email_address_th" }}</th>
                                        <th>{{ i18n key="list.email_verified_th" }}</th>
                                        <th></th>
                                        <th>
                                            <button class="btn btn-sm btn-outline-primary js-plus" title="{{ i18n key="panel.add_title" }}" {{ plusEnabled }}>
                                                <span class="fa-solid fa-fw fa-plus"></span>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each it in itemsList }}
                                        {{> account_email_row (parmsEmailRow it) }}
                                    {{/each}}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{/if}}
                {{#if haveUsername}}
                    <tr>
                        <td class="label"><label class="form-label" for="ident-tab-username">{{ i18n key="panel.username_label" }}</label></td>
                        <td class="ui-w100"><input class="form-control js-username" type="text" id="ident-tab-username" placeholder="{{ i18n key="panel.username_ph" }}" /></td>
                    </tr>
                {{/if}}
                <tr>
                    <td class="label"><label class="form-label" for="ident-tab-allowed">{{ i18n key="panel.login_allowed_label" }}</label></td>
                    <td class="ui-w100">
                        <table>
                            <tr>
                                <td class="ui-w33"><input class="form-check-input js-login-allowed" type="checkbox" id="ident-tab-allowed" /></td>

                                <td class="label ui-w33"><label class="form-label" for="ident-tab-last-login">{{ i18n key="panel.last_login_label" }}</label></td>
                                <td class="ui-w33"><input class="form-control js-last-login" type="text" id="ident-tab-last-login" readonly /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        {{/if}}

    </div>
</template>
