/*
 * /src/client/stylesheets/accounts_manager.less
 */

// the layout of a tabbed modal
.AccountEditPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.AccountEditPanel {
    .am-subtable th {
        font-weight: normal;
        white-space: nowrap;
    }
    .am-account-email-row {
        .FormsStatusIndicator {
            padding-right: 0.25em;
        }
    }
    // horizontally center the checkbox inside of its parent div
    //  https://stackoverflow.com/questions/1281403/place-input-box-at-the-center-of-div
    .am-account-email-row .form-check-input {
        display: block;
        margin: 0 auto;
    }
    .am-tr-padder {
        height: 0.5em;
    }
    .am-tr-padder-bottom {
        border-block-start: 1px solid lightgray;
    }
}

.AccountsList {
    height: 100%;

    .dt-column-title {
        font-size: 95%;
    }
    .not-allowed {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 125%;
    }

    .am-email-addresses {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .am-email-more {
            margin-left: 1em;
            button.btn.am-more {
                border-width: 0;
            }
        }
    }

    .am-email-verified {
        height: 1.875em;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    th:nth-child( 7 ),
    td:nth-child( 7 ) {
        max-width: 350px;
    }

    .role-level {
        border: 1px solid lightgray;
        border-radius: 0.25em;
        padding: 0.25em;
        display: flex;
        flex-direction: row;
        align-items: center;

        .title {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 75%;
            color: white;
            background-color: darkgray;
            padding: 0.25em 0.5em 0.1em 0.5em;
            margin-right: 0.25em;
            border-radius: 0.25em;
        }

        .roles {
            position: relative;
            top: 0.1875em;
        }
    }
    .role-level:not( :first-child ){
        margin-top: 0.25em;
    }
}

.AccountNewButton {
    margin-left: 1em;
}

// multiple-select adjustements
.ac-accounts-select {
    height: 20em;
    .multiple-select {
        .icon-caret {
            display: none;
        }
        button.ms-choice {
            border: 0;
            span {
                top: 0.3em;
            }
            span.placeholder {
                color: x-transparent;
                cursor: inherit;
                background-color: inherit;
            }
        }
    }
}
