/*
 * /src/client/stylesheets/accounts_manager.less
 */

// the layout of a tabbed modal
.AccountEditPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.AccountEditPanel {
    .am-subtable th {
        font-weight: normal;
        white-space: nowrap;
    }
    .c-account-emails-edit,
    .c-account-email-row {
        .FormsCheckStatusIndicator {
            padding-right: 0.25em;
        }
    }
}

.AccountsList {
    height: 100%;

    .dt-column-title {
        font-size: 95%;
    }
    .not-allowed {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 125%;
    }
}
