<template name="account_email_row">

    <tr class="c-account-email-row" data-item-id="{{ this.it.id }}">
        <td><input class="form-control js-email" type="email" placeholder="{{ i18n key="panel.email_ph" }}" value="{{ this.it.address }}" /></td>
        <td>
            <div class="js-verified ui-w100 ui-center">
                <input class="form-check-input" type="checkbox" value="{{ this.it.verified }}" />
            </div>
        </td>
        <td>{{> FormsCheckStatusIndicator (parmsCheckStatus) }}</td>
        <td>
            <button class="btn btn-sm btn-outline-primary js-minus" title="{{ i18n key="panel.remove_title" }}" {{ minusEnabled }} >
                <span class="fa-solid fa-fw fa-minus"></span>
            </button>
        </td>
    </tr>

</template>
